{% extends "layouts/journey.njk" %}

{# New GOVUK Frontend macros #}
{% from "govuk/components/input/macro.njk" import govukInput %}

{# New CASA wrapper macros #}
{% from "casa/components/input/macro.njk" import casaGovukInput with context %}

{% block journey_form %}
    {{ casaGovukInput({
        name: 'surname',
        value: formData.surname,
        label: {
            text: "Surname",
            classes: 'govuk-label--m'
        },
        classes: 'govuk-!-width-one-half',
        casaErrors: formErrors
    }) }}
{% endblock %}